<div [formGroup]="formGame" class="flex flex-col gap-y-4 justify-center items-center w-[240px]">
    <div class="flex flex-col gap-y-2 w-full">
        <label for="name" class="font-semibold">Nombra la partida</label>
        <input 
            type="text"
            id="nombre"
            name="name"
            formControlName="name"
            required="required"
            class="w-full px-2 py-2 text-white border border-[#BB65FF] rounded-full focus:none"
        />
        <div 
      class="text-red-500 overflow-hidden text-ellipsis"
      *ngIf="formGame.get('name')?.errors && formGame.get('name')?.dirty"
    >
      <span *ngFor="let error of getFormErrors('name')">{{ error }}</span>
    </div>
    </div>
    <button-submit-custom [text]="'Crear partida'" (clickEvent)="onSubmit()"></button-submit-custom>
</div>