<div class="flex flex-col items-center">
  <button (click)="onClick()">
    <!-- Usar async pipe para obtener el estado de hasCard y isreveal -->
    <div *ngIf="hasCard$ | async as hasCard; else noCard" [ngClass]="getStyle(hasCard, isreveal)">
      <div class="font-bold text-xl font">
        <!-- Mostrar el score si las cartas han sido reveladas -->
        {{ isreveal ? score : '' }}
        {{info}}
      </div>
    </div>
    <ng-template #noCard>
      <div [ngClass]="getStyle(false, isreveal)">
        <div class="font-bold text-xl font">
          {{ isreveal ? score : '' }}
          {{info}}
        </div>
      </div>
    </ng-template>
  </button>
  <span class="mt-2 text-md text-white">{{ namePlayer }}</span>
</div>