<div class="w-full h-full flex justify-center items-center mb-120">
  <div class="bg-bf-primary w-full rounded-full  border border-black">
    <p class="px-60 py-30"></p>
  </div>
  <ng-container *ngIf="players$ | async as players">
        <div
          *ngFor="let player of players; let i = index"
          [style.transform]="getPositionStyle(i, players.length)"
          class="absolute top-auto right-auto transform flex flex-col items-center"
        >
          <app-card-player [namePlayer]="player.name" [viewPlayer]="player.view"></app-card-player>
        </div>
    </ng-container>
  

</div>