/* You can add global styles to this file, and also import other style files */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: radial-gradient(circle, #330072 0%, #1F0D3F 70%);
    width: 100%;
    height: 100vh;
    color: white;
    font-family: 'poppins', sans-serif;
}

main{
    height: 100vh;
    width: 100%;
}

app-home-template{
    height: 100vh;
    width: 100%;
}

app-table{
    height: 50%;
    width: 100%;
}



