/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";

* {
    box-sizing: border-box;
}

body{
    background: radial-gradient(circle, #330072 0%, #1F0D3F 70%);
    width: 100%;
    height: 100vh;
    color: white;
    font-family: 'poppins', sans-serif;
    display: flex;
    flex-direction: column;
}

app-root{
    height: 100vh;
    display: flex;
    flex-direction: column;
}

@theme {
    --font-poppins: Poppins, sans-serif;


    --color-primary : #1F0D3F;
    --color-secundary: #BB65FF;
    --text-color-primary:#330072;
    --color-sdprimary: #6429CD;
}


@layer components{
    input[type="radio"].custom-radio {
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        width: 20px;
        height: 20px;
        border: 1px solid #9c4fff;
        background-color: #6429CD14;
        border-radius: 50%;
        outline: none;
        cursor: pointer;
        color: #fff;
      }
    
      input[type="radio"].custom-radio::before {
        content: '';
        display: block;
        width: 12px;
        height: 12px;
        margin: 3px;
        border-radius: 50%;
        background-color: #9c4fff;
        opacity: 0;
        transition: opacity 0.2s ease;
      }
    
      input[type="radio"].custom-radio:checked::before {
        opacity: 1;
      }
    
      label {
        display: flex;
        align-items: center;
        gap: 8px;
        cursor: pointer;
        font-size: 16px;
        color: #fff;
      }
}

app-form-ingreso{
    height: 100%;
}

app-home-template{
    height: 100%;
}

app-navbar{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

  
  .container {
    position: relative;
  }
  
  .rectangle {
    position: relative;
    width: 182px;
    height: 27px;
    border: 2px solid #8b3de2; /* Color morado claro */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  
  
  .circle {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: transparent;
    border: 2px solid #8b3de2;
    border-radius: 50%;
    animation: loading 1.5s linear infinite;
  }
  
  .circle:nth-child(1) {
    animation-delay: 0s;
    left: -30px;
  }
  
  .circle:nth-child(2) {
    animation-delay: 0.375s;
    left: -30px;
  }
  
  .circle:nth-child(3) {
    animation-delay: 0.75s;
    left: -30px;
  }
  
  .circle:nth-child(4) {
    animation-delay: 1.125s;
    left: -30px;
  }
  
  @keyframes loading {
    0% {
      transform: translateX(-30px);
    }
    50% {
      transform: translateX(200px);
    }
    100% {
      transform: translateX(-30px);
    }
  }


  .bounce-in-top {
    -webkit-animation: bounce-in-top 1.1s both;
            animation: bounce-in-top 1.1s both;
  }

  @-webkit-keyframes bounce-in-top {
    0% {
      -webkit-transform: translateY(-500px);
              transform: translateY(-500px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
      opacity: 0;
    }
    38% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
      opacity: 1;
    }
    55% {
      -webkit-transform: translateY(-65px);
              transform: translateY(-65px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    72% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    81% {
      -webkit-transform: translateY(-28px);
              transform: translateY(-28px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    90% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    95% {
      -webkit-transform: translateY(-8px);
              transform: translateY(-8px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
  }
  @keyframes bounce-in-top {
    0% {
      -webkit-transform: translateY(-500px);
              transform: translateY(-500px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
      opacity: 0;
    }
    38% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
      opacity: 1;
    }
    55% {
      -webkit-transform: translateY(-65px);
              transform: translateY(-65px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    72% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    81% {
      -webkit-transform: translateY(-28px);
              transform: translateY(-28px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    90% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    95% {
      -webkit-transform: translateY(-8px);
              transform: translateY(-8px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
  }
  

